// = Import variables scss
@import '../../../static/vars.scss';


// == Mobile
@media screen and (min-width: 200px) {

    .img {
        object-fit: cover;
        width: 100%;
        padding: 0;
        margin: 0;
        display: block;
    }

    .projects {
        padding-top: 3rem;

        &-title {
            text-align: center;
            font-family: $roboto;
            font-size: 1rem ;
            text-transform: uppercase;
            font-weight: 600;
            color: #0086f2;
            letter-spacing: 5px;
            margin: 2rem 0;
        }

        &-list {

            &-item {
                position: relative;
                margin-bottom: 2rem;
                height: 100px;
                color: $newBlack;
                text-align: center;

                &-title {
                    font-family: $roboto;
                    font-weight: 300;
                    font-size: 1.2rem;
                    color: #2b2b2b;
                    margin: 1.5rem 0 .5rem ;
                }

                &-subtitle {
                    font-family: $roboto;
                    font-weight: 300;
                    font-size: 1rem;
                    color: #2b2b2b;
                    margin: 0 0 2rem;
                }

                &-desc {
                    font-family: $inter;
                    font-size: .8rem;
                    font-weight: 400;
                    width: 320px;
                }

                &-role {
                    font-family: $inter;
                    font-size: .8rem;
                }

                &-fields {
                    font-family: $inter;
                    font-weight: 700;
                    font-size: .8rem;
                }

                &-link {
                    font-family: $inter;
                    font-size: .8rem;
                    color: #000;
                }
            }
        }
    }
}

// == Tablet
@media screen and (min-width: 768px) {
    .projects {
        
        &-list {

            &-item {
                height: 420px;

                &-title {
                    font-size: 1.5rem;
                }

                &-subtitle {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

// == Desktop
@media screen and (min-width:992px) {

    .img {
        height: 100%;
        transition: .2s ease-in-out;
        position: absolute;
        z-index: 1;
        
        &:hover {
            opacity: 0; 
        }
    }

    .projects {

        &-title {
            font-size: 1rem;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &-item {
                width: 49.5%;
                height: 500px;
                margin-bottom: .8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                &-title {
                    font-size: 1.8rem;
                    font-weight: 400;
                }

                &-subtitle {
                    font-size: 1.3rem;
                }
            }   
        }
    }
}