// = Import variables scss
@import '../../../static/vars.scss';


// == Mobile
@media screen and (min-width: 200px) {

    .img {
        object-fit: cover;
        width: 100%;
        height: 550px;
        padding: 0;
        margin: 0;
        display: block;
       
    }

    .projects {
        padding-top: 3rem;

        &-list {


            &-item {
                position: relative;
                //margin-bottom: 2rem; 
                text-align: center;
                // display: flex;
                // align-items: center;
                // justify-content: center;

                &-title {
                    font-family: $europa;
                    font-weight: 700;
                    font-size: 2rem;
                    color: #FFF;
                    margin: auto;
                    background: #000;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    
                }

                &-subtitle {
                    font-family: $roboto;
                    font-weight: 300;
                    font-size: 1rem;
                    color: #2b2b2b;
                    margin: 0 0 2rem;
                    display: none;
                }

                &-desc {
                    font-family: $inter;
                    font-size: .8rem;
                    font-weight: 400;
                    width: 320px;
                }

                &-role {
                    font-family: $inter;
                    font-size: .8rem;
                }

                &-fields {
                    font-family: $inter;
                    font-weight: 700;
                    font-size: .8rem;
                }

                &-link {
                    padding-top: 2rem;
                    font-family: $inter;
                    font-size: .8rem;
                    color: #000;
                }
            }
        }
    }
}

// == Tablet
@media screen and (min-width: 768px) {
    .projects {
        
        &-list {

            &-item {
                height: 420px;

                &-title {
                    font-size: 1.5rem;
                }

                &-subtitle {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

// == Desktop
@media screen and (min-width:992px) {

    .img {
        height: 100%;
        transition: .2s ease-in-out;
        position: absolute;
        z-index: 1;
        
        &:hover {
            opacity: 0; 
        }
    }

    .projects {

        &-title {
            font-size: 1rem;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &-item {
                width: 49.5%;
                height: 500px;
                margin-bottom: .8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                &-title {
                    font-size: 1.8rem;
                    font-weight: 400;
                }

                &-subtitle {
                    font-size: 1.3rem;
                }
            }   
        }
    }
}