{
    "extends": "airbnb",
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }], 
      },

      // Détection de l'objet window
      "globals": {
        "window": true
      }
}