 // = Import variables scss
@import '../../../static/vars.scss';

// == Mobile
@media screen and (min-width: 200px) {

    .profile {
        padding: 6rem 1.5rem 3rem;
        font-family: $europa, $roboto, sans-serif;

        &-link {
            text-decoration: none;
            color: #000;
            font-weight: 600;
        }

        &-group {

            &-infos {
                font-weight: 300;
                line-height: 25px;
                padding-bottom: 2rem;

                &-title {
                    font-weight: 400;
                    line-height: 40px;
                    text-align: center;
                    margin-bottom: 4rem;

                    &-span {
                        color: #000;
                        font-weight: 900;
                    }
                }

                &-content {
                    color: lighten(#000000, 55%);
                }
            }
        }

        &-buttons {
            display: flex;
            flex-direction: column;

            &-btn {
                width: 250px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $roboto;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1rem;
                padding: 1rem;
                margin: .5rem auto;
                background: #FFF;
                border: solid 2px #000;
                border-radius: 50px;
                cursor: pointer;
                transition: .2s ease-in-out;

                &:focus {
                    outline: none;
                }

                &:hover {
                    background: #000;
                    color: #fff;
                }

                &-file {
                    font-size: 1.3rem;
                    margin-right: .5rem;
                }
            }
        }
    }
}

// == Tablet
@media screen and (min-width: 768px) {

    .profile {
        padding-right: 8rem;
        padding-left: 8rem;
      
        &-buttons {

            &-btn {
                margin: 0 auto 1rem;
            }
        }
    }
}

// == Desktop
@media screen and (min-width: 992px) {

    .profile {
        width: 600px;
        margin: 0 auto 2rem;
        padding: 90px 0 0 ;
       
        &-group {

            &-infos {
                font-size: 1.1rem;

                &-title {
                    font-size: 2.5rem;
                }
            }
        }
    }
}