 // = Import variables scss
 @import '../../../static/vars.scss';

// == Mobile
 @media screen and (min-width: 50px) {
     .project {
        padding: 7rem 1.5rem 3rem;
        font-family: $roboto;

        &-img {
            width: 100%;
        }

        &-title {
            font-size: 1.8rem;
        }

        &-subtitle {
            font-size: 1.6rem;
            font-weight: 400;
            color: lighten(#000, 60%);
        }

        &-url {
            display: block;
            text-transform: uppercase;
            font-weight: 500;
            color: $blue;
            margin: 1.6rem 0;
        }

        &-resume {
            font-size: 1.4rem;
            font-weight: 500;
        }

        &-content {
            margin-right: .5rem;
            line-height: 34px;
            font-weight: 300;
        }

        &-infos {
            font-size: 1.1rem;
            font-weight: 700;
        }

        &-role {
            margin: .5rem 0 1rem;
            line-height: 25px;
            color: lighten(#000, 55%);
            font-weight: 400;
        }

        &-btn {
            padding: .5rem .8rem;
            margin-bottom: .5rem;
            font-family: $roboto;
            font-weight: 500;
            font-size: 1rem;
            background: lighten(#000, 95%);
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}

// == Tablet
 @media screen and (min-width: 768px) {
     
     .project {
        width: 650px;
        margin: 0 auto 2rem;
        padding: 150px 0 0 ;
     }
 }

// == Desktop
 @media screen and (min-width: 992px) {
     .project {
        width: 850px;
        margin: 0 auto 2rem;
        padding: 90px 0 0 ;

        &-title {
            font-size: 2.3rem;
        }

        &-subtitle {
            font-size: 1.8rem;
        }

        &-url {
            font-size: 1.2rem;
        }

        &-resume {
            font-size: 1.6rem;
        }

        &-role {
            font-size: 1.2rem;
        }

        &-btn {
            margin-top: 1.5rem;
            transition: .2s ease-in-out;

            &:focus {
                outline: none;
            }

            &:hover {
                background: lighten(#000, 90%);
            }
        }
     }
 }