 // = Import variables scss
@import '../../static/vars.scss';

// == Mobile
@media screen and (min-width: 200px) {

    .profil {
        padding: 6rem 1.5rem 3rem;

        &-link {
            text-decoration: none;
            color: $blue;
        }

        &-group {

            &-infos {
                font-family: $roboto;
                font-weight: 300;
                line-height: 25px;
                padding-bottom: 2rem;

                &-title {
                    font-weight: 400;
                    line-height: 40px;

                    &-span {
                        color: $blue;
                        font-weight: 900;
                    }
                }
            }
        }

        &-buttons {
            display: flex;
            flex-direction: column;

            &-btn {
                padding: 1rem;
                margin-bottom: .5rem;
                font-family: $roboto;
                font-weight: 300;
                font-size: 1rem;
                background: lighten(#000, 95%);
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: 100%;

                &:focus {
                    outline: none;
                }

                &-file {
                    font-size: 1.3rem;
                    margin-right: .5rem;
                }
            }
        }
    }

}

// == Tablet
@media screen and (min-width: 768px) {

    .profil {
        padding-right: 5rem;
        padding-left: 5rem;
      
        &-buttons {

            &-btn {
                width: 70%;
                margin: 0 auto 1rem;
            }

        }
    }
}

// == Desktop
@media screen and (min-width: 992px) {

    .profil {
        width: 600px;
        margin: 0 auto 2rem;
        padding: 90px 0 0 ;
       
        &-group {

            &-infos {
                font-size: 1.1rem;

                &-title {
                    font-size: 2.5rem;
                }
            }
        }

        &-buttons {
            flex-direction: row;
            width: 450px;
            justify-content: space-between;

            &-btn {
                margin: 0;
                width: 210px;
                transition: .2s ease-in-out;

                &:focus {
                    outline: none;
                }
    
                &:hover {
                    background: lighten(#000, 90%);
                }
            }
        }
    }
    
}