// = Import variables scss
@import '../../../static/vars.scss';


// = Mobile
@media screen and (min-width: 200px) {

    html {
        height: initial;
      }

    .home {
        padding: 10rem 0 ;

        &-content{
            text-align: center;
            
            &-title {
                font-family: $europa;
                font-size: 2rem;
                line-height: 1.9;
                font-weight: 700;
                margin: 0;
                text-align: center;
                color: #000;
                //background: red;    
            }

            &-profile {
                font-family: $roboto;
                font-weight: 400;
                font-size: 1.1rem;
                line-height: 1.6;
                text-align: left;
                padding-right: 1.5rem ;
                color: lighten(#000, 50%);
            }
        }        
    }
}

// == Tablet
@media screen and (min-width: 768px) {
    .home {
        //height: 50vh;

        &-content {

            &-title {
                font-size: 2.2rem;
            }

            &-profile {
                font-size: 1.6rem;
            }
        }
    }
}

// == Desktop
@media screen and (min-width: 992px) {

    .home {
        height: initial;
        padding-top: 80px;
        height: 50vh;

        &-content {
            
            &-title {
                font-size: 3rem;
                padding-top: 2rem;
                width: 1000px;
                margin: auto;
            }
        }
    }
}

// Large Desktop
@media screen and (min-width: 1600px) {

    .home {

        padding-bottom: 5rem;

        &-content {
            
            &-title {
                font-size: 3.7rem;
                width: 1300px;
                margin: auto;          
            }
        } 
    }
}

