// = Import variables scss
@import '../../../static/vars.scss';


// == Mobile
@media screen and (min-width: 50px) {

    .nav {
        position: fixed;
        width: 100%;
        top: 0;
        background: white;
        z-index: 3;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            //background: red;
            padding: 1.5rem 2rem;

            &-logo {
                font-size: 1.4rem;
                //margin-left: 1rem;
                font-family: $europa, $roboto, sans-serif;
                letter-spacing: 2px;
                margin-left: 20px;
                font-weight: 700;
                text-transform: uppercase;
                color: $newBlack;
                text-decoration: none;
                justify-self: center;
            }
    
            &-group {
                display: none;
            }

            &-bars {
                display: flex;
                align-items: center;
                width: 20px;
                &:focus {
                    outline: none;
                }
            }
        }
    }    
}

// == Tablet
@media screen and (min-width: 768px) { 

    .nav {

        &-content {

            padding: 1.5rem 2.5rem;
        }
    }


}

// == Desktop
@media screen and (min-width: 992px) {
    .nav {
       position: initial;
       
       padding: 2rem 0;

        &-content {
            padding: .5rem 3rem ;

            &-block {
                display: none;
            }

            &-logo {
                
                font-size: 1.5rem;
                font-weight: 600;
                letter-spacing: 5px;    
            }

            &-bars {
                display: none;
            }

            &-group {
                display: block;
                width: 250px;
                display: flex;
                justify-content: space-between;
                margin: 0;
                padding: 0;

                &-link {
                    text-decoration: none;
                    font-family: $europa, $roboto, sans-serif;
                    font-weight: 400;
                }
            }
        }
    }
}

// == Large Desktop
@media screen and (min-width: 1245px) {
    .nav {

        &-content {
            padding: 1rem 6rem;
        }
    }
}